<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/img/favicon.png}" rel="icon" type="image/png">
    <title>Main Page</title>
</head>
<body class="h-100">

<div class="container-fluid d-flex flex-column h-100 p-0">
    <header class="bg-dark text-white p-3 d-flex justify-content-between">
        <div style="font-size: 1.2rem">
            <span class="font-weight-bold" th:text="${princ.email}">Email</span>
            <span>with roles:</span>
            <span th:each="role : ${princ.roles}">
                <span th:text="${role}"></span>
            </span>
        </div>
        <div><a class="text-white-50" th:href="@{/logout}">Logout</a></div>
    </header>
    
    <div class="h-100 mx-0">
        <div class="d-flex h-100 px-0">
            <nav class="col-2 pt-3 nav flex-column nav-pills" id="v-pills-tab">
                <a class="nav-link text-start active" th:href="@{/admin}">Admin</a>
                <a class="nav-link text-start" th:href="@{/user}">User</a>
            </nav>
            
            <div class="tab-content col-10 px-4 py-3 bg-light" id="v-pills-tabContent">
                
                <!-- EDIT MODAL -->
                <div class="modal fade" id="edit-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-modal-title">Edit user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form>
                                <div class="modal-body col-6 mx-auto text-center" id="edit-modal-fields">
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-id">ID</label>
                                        <input class="form-control" id="edit-id" type="text" name="id" required readonly>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-name">First Name</label>
                                        <input class="form-control" id="edit-name" type="text" name="firstName" required>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-surname">Last Name</label>
                                        <input class="form-control" id="edit-surname" type="text" name="lastName" required>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-age">Age</label>
                                        <input class="form-control" id="edit-age" type="number" name="age" required>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-email">Email</label>
                                        <input class="form-control" id="edit-email" type="email" name="email" required>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-password">Password</label>
                                        <input class="form-control" id="edit-password" type="password" name="password">
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-roles">Role</label>
                                        <select class="form-select" id="edit-roles" name="roles" multiple size="2" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-danger px-2 py-1" id="edit-submit" type="submit">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- DELETE MODAL -->
                <div class="modal fade" id="del-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-title">Delete user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form>
                                <div class="modal-body col-6 mx-auto text-center" id="del-modal-fields">
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="id">ID</label>
                                        <input class="form-control" id="id" type="text" name="id" required readonly>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="name">First Name</label>
                                        <input class="form-control" id="name" type="text" name="firstName" required readonly>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="modal-surname">Last Name</label>
                                        <input class="form-control" id="modal-surname" type="text" name="lastName" required readonly>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="modal-age">Age</label>
                                        <input class="form-control" id="modal-age" type="number" name="age" required readonly>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="modal-email">Email</label>
                                        <input class="form-control" id="modal-email" type="email" name="email" required readonly>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="del-roles">Role</label>
                                        <select class="form-select" id="del-roles" name="roles" multiple size="2" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" id="del-close" type="button" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-danger px-2 py-1" id="del-submit" type="submit">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <h1 class="mb-3">Admin panel</h1>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home">Users table</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile">New user</button>
                </div>
                
                <div class="tab-content" id="nav-tabContent">
                    
                    <!-- USERS TABLE -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="card">
                            <h4 class="card-header">All users</h4>
                            <div class="card-body">

                                <table class="table table-striped align-middle">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users-tbody" class="table-striped">
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- NEW USER -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <h4 class="card-header">Add new user</h4>
                            <div class="card-body">
                                <div class="col-md-6 col-lg-4 col-xl-3 mx-auto text-center">
                                    <form id="form-new-user">
                                        <div>
                                            <label class="form-label fw-bold mb-1 mt-3" for="new-name">First Name</label>
                                            <input class="form-control" id="new-name" type="text" name="firstName" required autofocus>
                                        </div>
                                        <div>
                                            <label class="form-label fw-bold mb-1 mt-3" for="new-surname">Last Name</label>
                                            <input class="form-control" id="new-surname" type="text" name="lastName" required>
                                        </div>
                                        <div>
                                            <label class="form-label fw-bold mb-1 mt-3" for="new-age">Age</label>
                                            <input class="form-control" id="new-age" type="number" name="age" required>
                                        </div>
                                        <div>
                                            <label class="form-label fw-bold mb-1 mt-3" for="new-email">Email</label>
                                            <input class="form-control" id="new-email" type="email" name="email" required>
                                        </div>
                                        <div>
                                            <label class="form-label fw-bold mb-1 mt-3" for="new-password">Password</label>
                                            <input class="form-control" id="new-password" type="password" name="password" required>
                                        </div>
                                        <div>
                                            <label class="form-label fw-bold mb-1 mt-3" for="new-roles">Role</label>
                                            <select class="form-select" id="new-roles" name="roles" multiple th:size="${allRoles.size()}" required>
                                                <option th:each="role : ${allRoles}"
                                                        th:value="${role.id}"
                                                        th:text="${role.name}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="my-4">
                                            <button class="btn btn-success px-3 py-2 fs-5" type="submit">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
